.main{
    position : absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    display : flex;
    flex-flow : column;
}

.main span, label:not(.login){
    display : none;
}

form input{
    padding : 10px;
    margin : 5px;
    width : 300px;
    height : 30px;
    border-radius : 10px;
    font: 20px Arial, sans-serif;
    outline-color : #d94c93;
}

h2{
    font: 35px auto, sans-serif;
    padding : 0px 100px 0px 100px;
    margin : 10px;
}

form button{
    width : 320px !important;
    height : 45px;
    border-radius : 10px;
    font: 20px Arial, sans-serif;
    margin : 0px 0px 0px 7px;

}

.login{
    margin : 50px;
}